.yi-form-show{
  &__table{
    width: 100%;
    border-collapse: collapse;
    &>tbody{
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }
  &__tr{
    display: flex;
    align-items:stretch;
    box-sizing: border-box;
    border-bottom: 1px solid #f2eeee;
  }
  &__title{
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 5px 0 15px;
    box-sizing: border-box;
    display:block;
  }
  &__content{
    line-height: 40px;
    position: relative;
    font-size: 14px;
    flex: 1;
    padding: 0 15px;
    display:block;
  }
  &.yi-form-border{
    .yi-form-show__table{
        border:1px solid  #f2eeee;
        border-bottom-color:transparent !important;
        border-right-color:transparent !important;
    }
    .yi-form-show__title{
      background: #fbfafa;
      //border-bottom: 1px solid #f2eeee;
      //border-left: 1px solid #f2eeee;
    }
    .yi-form-show__content{
      border-left: 1px solid #f2eeee;
      border-right: 1px solid #f2eeee;
    }
  }

}
